---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<iframe src="https://rcm-cn.amazon-adsystem.com/e/cm?o=28&p=11&l=ur1&category=books&banner=17TV9EV4FXVM6JVVB282&f=ifr&linkID=44980e4d947020ae639ff1d67e1ac28d&t=zeove01-23&tracking_id=zeove01-23" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
	
</div>
<!--
<div class="music">
    <h1>Now Playing:</h1>
    <a href="http://www.last.fm/user/getmicah"><span id="nowPlaying"></span></a>
</div>
<script src="/assets/js/main.js"></script>
-->
