---
layout: default
---

<div class="about">
    <a class="about__back" href="/">&lt;-- back</a>
    <h1 class="about__title">About Me:</h1>
    <div class="about__content">
        {{ content }}
    </div>
<br>
    <h1 class="about__title">My Friends:</h1>
<br>
<table width="400" border="25" height="180">
<tr>
    <td><a href="http://iyest.com/blog/" target="_blank">龙鹰</a></td>
	<td><a href="http://jinbo123.com/" target="_blank">佐仔志</a></td>    
    <td><a href="http://www.lieking.com/" target="_blank">时光笔记</a></td>    
    <td><a href="http://www.lushaojun.com/" target="_blank">随望淡思</a></td>
</tr>
<tr>
    <td><a href="http://houye.xyz/" target="_blank">侯爷</a></td>
	<td><a href="http://maguang.net/" target="_blank">半省堂</a></td>
    <td><a href="https://www.mhcf.net/" target="_blank">梦幻辰风</a></td>
    <td><a href="https://chinr.net/" target="_blank">拟月幻真</a></td>
</tr>
<tr>
    <td><a href="http://www.huangqifu.com/" target="_blank">启福</a></td>
	<td><a href="http://dapengde.com/" target="_blank">大鹏志</a></td>    
	<td><a href="http://cyhour.com/" target="_blank">常阳时光</a></td>   
    <td><a href="http://blog.exbye.com/" target="_blank">浮茗诗舍</a></td>
</tr>
<tr>
    <td><a href="http://imfer.me/" target="_blank">Fer</a></td>
	<td><a href="http://www.wangyikai.com/" target="_blank">王宜楷</a></td>
	<td><a href="http://ningqun.shdot.com/" target="_blank">浮白载笔</a></td>
	<td><a href="http://penpenguanguan.com/" target="_blank">盆盆罐罐</a></td>
</tr>
<tr>
    <td><a href="http://imjiayin.com/" target="_blank">JiaYin</a></td>
	<td><a href="http://www.munanzi.com/" target="_blank">牧南子</a></td>    
	<td><a href="https://tumutanzi.com" target="_blank">土木坛子</a></td>	
	<td><a href="https://www.ithmz.com/" target="_blank">从良未遂</a></td>
</tr>
<tr>
    <td><a href="https://chenghouwen.com/" target="_blank">程厚文</a></td>
    <td><a href="http://imzm.im/" target="_blank">陈仓颉</a></td>	
	<td><a href="http://fangshi.org/" target="_blank">方室网志</a></td>
	<td><a href="https://elizen.me/" target="_blank">斯文敗類</a></td>
</tr>
<tr>
	<td><a href="https://chidd.net" target="_blank">陈大猫</a></td>
</tr>
</table>
 
</div>
