---
layout: default
---

<div class="about">
    <a class="about__back" href="/">&lt;-- back</a>
    <h1 class="about__title">About Me:</h1>
    <div class="about__content">
        {{ content }}
    </div>
    
    <h1 class="about__title">My Friends:</h1>    

<table width="500" border="50" height="500">
<tr>
    <td><a href="http://dlyang.me/" target="_blank">LanternD</a></td>
    <td><a href="http://www.lieking.com/" target="_blank">时光笔记</a></td>
    <td><a href="https://www.ipz.me/" target="_blank">影乐</a></td><td>
    <td><a href="http://chenfm.com/" target="_blank">逗号</a></td>
</tr>
<tr>
    <td><a href="https://leonax.net/" target="_blank">Sumhat</a></td>
    <td><a href="http://muguayuan.com/" target="_blank">Shrek</a></td>
    <td><a href="http://www.mhcf.net/" target="_blank">梦幻辰风</a></td>
    <td><a href="http://blog.2-1603.com/" target="_blank">康员外</a></td>
</tr>
<tr>
    <td><a href="http://laob.me/" target="_blank">毕扬博客</a></td>
    <td><a href="http://wakinger.com/" target="_blank">王宜楷</a></td>
    <td><a href="http://puertime.com/" target="_blank">普洱时间</a></td>
    <td><a href="http://www.music4x.com/" target="_blank">老罗</a></td>
</tr>
<tr>
    <td><a href="http://fangshi.org/" target="_blank">老方</a></td>
    <td><a href="http://quluwei.com/" target="_blank">小曲</a></td>
    <td><a href="http://www.9doe.com/" target="_blank">九多壹</a></td>
    <td><a href="https://tumutanzi.com/" target="_blank">坛子</a></td>
</tr>
<tr>
    <td><a href="http://www.huangqifu.com/" target="_blank">黄启福</a></td>
    <td><a href="http://www.yelook.com/" target="_blank">有野出没</a></td>
    <td><a href="http://hustlzp.com/" target="_blank">刘志鹏</a></td>
    <td><a href="http://www.yaoranqu.com/" target="_blank">清寒</a></td>
</tr>
<tr>
    <td><a href="http://fatesinger.com/" target="_blank">大发贱志</a></td>
    <td><a href="http://blog.exbye.com/" target="_blank">浮茗诗舍</a></td>
    <td><a href="http://zhiqiang.org/blog/" target="_blank">阅微堂</a></td>
    <td><a href="http://xin.im/" target="_blank">寨主</a></td>
</tr>
<tr>
    <td><a href="http://www.elizen.me/" target="_blank">Elizen</a></td>
    <td><a href="http://www.lkhweb.com/" target="_blank">过境千帆</a></td>
    <td><a href="http://houye.xyz/" target="_blank">侯爷</a></td>
    <td><a href="http://www.caibin.me/" target="_blank">希望</a></td>
</tr>
<tr>
    <td><a href="http://www.anxinblog.org/" target="_blank">安详的心</a></td>
    <td><a href="http://www.ithmz.com/" target="_blank">从良未遂</a></td>
    <td><a href="http://ons.me/" target="_blank">西门</a></td>
    <td><a href="http://huiris.com/" target="_blank">Huiris</a></td>
</tr>
<tr>
    <td><a href="https://chenghouwen.com/" target="_blank">勺子</a></td>
    <td><a href="http://imfer.me/" target="_blank">范儿</a></td>
    <td><a href="http://www.hdgogogo.com/" target="_blank">大路</a></td>
    <td><a href="http://fmwei.com/" target="_blank">Fmwei</a></td>
</tr>
<tr>
    <td><a href="http://imjiayin.com/" target="_blank">JiaYin</a></td>
    <td><a href="http://www.misray.com/" target="_blank">Ray</a></td>
    <td><a href="http://blog.chenchenli.net" target="_blank">第六天天使</a></td>
    <td><a href="http://yufan.me/" target="_blank">雨帆</a></td>
</tr>
<tr>
    <td><a href="http://dapengde.com/" target="_blank">大鹏</a></td>
    <td><a href="http://maguang.net/" target="_blank">马光</a></td>
    <td><a href="http://www.80-go.com/" target="_blank">松鼠男</a></td>
    <td><a href="http://wdk.pw" target="_blank">DK</a></td>
       
</tr>
<tr>
    <td><a href="http://jinbo123.com/" target="_blank">佐仔</a></td>
    <td><a href="https://chinr.net/" target="_blank">忘想</a></td>
    <td><a href="http://www.lushaojun.com/" target="_blank">阿钧</a></td>
    <td><a href="http://www.sunyansong.com/" target="_blank">牌巴子</a></td>
</tr>
<tr>
    <td><a href="http://cyhour.com/" target="_blank">常阳时光</a></td>
    <td><a href="http://huangyunying.com/" target="_blank">黄云英</a></td>
    <td><a href="http://blog.if404.com/" target="_blank">枫叶向风</a></td>
    <td><a href="http://fanxihui.com/" target="_blank">Francis</a></td>
</tr>
<tr>
    <td><a href="http://blog.cctv.com.im" target="_blank">烟雨</a></td>
    <td><a href="http://viruschen.com/" target="_blank">virus</a></td>       
</tr>
</table>
 
</div>
