---
layout: default
---

<div class="about">
    <a class="about__back" href="/">&lt;-- back</a>
    <h1 class="about__title">About Me:</h1>
    <div class="about__content">
        {{ content }}
    </div>
<br>
<br>
    <h1 class="about__title">My Friends:</h1>
<br>
<table width="400" border="50" height="260">
<tr>
    <td><a href="http://jinbo123.com/" target="_blank">佐仔志</a></td>
    <td><a href="http://www.lieking.com/" target="_blank">时光笔记</a></td>
    <td><a href="http://blog.chenchenli.net" target="_blank">渋谷记事</a></td>
    <td><a href="http://chenfm.com/" target="_blank">逗号</a></td>
</tr>
<tr>
    <td><a href="http://huiris.com/" target="_blank">Huiris</a></td>
    <td><a href="https://chinr.net/" target="_blank">拟月幻真</a></td>
    <td><a href="http://www.mhcf.net/" target="_blank">梦幻辰风</a></td>
    <td><a href="http://blog.2-1603.com/" target="_blank">康员外</a></td>
</tr>
<tr>
    <td><a href="http://www.lushaojun.com/" target="_blank">随望淡思</a></td>
    <td><a href="http://wakinger.com/" target="_blank">王宜楷</a></td>
    <td><a href="http://puertime.com/" target="_blank">普洱时间</a></td>
    <td><a href="http://blog.cctv.com.im" target="_blank">醉卧烟雨</a></td>
</tr>
<tr>
    <td><a href="https://chenghouwen.com/" target="_blank">程厚文</a></td>
    <td><a href="http://quluwei.com/" target="_blank">曲鲁伟</a></td>
    <td><a href="http://www.9doe.com/" target="_blank">九多壹</a></td>
    <td><a href="http://www.hdgogogo.com/" target="_blank">红灯博客</a></td>
</tr>
<tr>
    <td><a href="http://www.huangqifu.com/" target="_blank">启福</a></td>
    <td><a href="http://imfer.me/" target="_blank">Fer</a></td>
    <td><a href="http://maguang.net/" target="_blank">半省堂</a></td>
    <td><a href="http://hustlzp.com/" target="_blank">刘志鹏</a></td>
</tr>
<tr>
    <td><a href="http://iyest.com/" target="_blank">龙鹰</a></td>
    <td><a href="http://blog.exbye.com/" target="_blank">浮茗诗舍</a></td>
    <td><a href="http://cyhour.com/" target="_blank">常阳时光</a></td>
    <td><a href="http://houye.xyz/" target="_blank">侯爷</a></td>
</tr>
<tr>
    <td><a href="http://www.anxinblog.org/" target="_blank">安详的心</a></td>
    <td><a href="http://www.ithmz.com/" target="_blank">从良未遂</a></td>
    <td><a href="http://imjiayin.com/" target="_blank">JiaYin</a></td>
    <td><a href="http://www.misray.com/" target="_blank">Misray</a></td>
</tr>
<tr>
    <td><a href="http://www.munanzi.com/" target="_blank">仰望星空</a></td>
</tr>
</table>
 
</div>
