---
layout: default
js:chat.js
---

<div class="about">
    <a class="about__back" href="/">&lt;-- back</a>

    <div class="about__content">
        {{ content }}
    </div>
	
	
<div class="container page-chat animation-fade-up">
  <h1 class="page-title" id="{{ page.title }}">{{ page.title }}</h1>
  <form>
    <input type="text" placeholder="昵称" autocomplete="off" />
    <input type="email" placeholder="邮箱" autocomplete="off" />
    <input type="text" placeholder="网站" autocomplete="off" />
    <textarea rows="4" placeholder="请留言"></textarea>
    <span class="select-none page-chat-submit">发表</span>
  </form>
  <ul class="page-chat-list"></ul>
  <div class="page-chat-load-container">
    <span class="page-chat-load select-none">评论加载中</span>
  </div>
  <li class="page-chat-list-templet" hidden>
    <div class="info">
      <img class="head" src="http://www.gravatar.com/avatar/"/>
      <a class="name" target="_blank" href="https://www.zeove.com">
        <span>Zeove</span>
      </a>
      <div class="date">2019-08-13</div>
    </div>
    <div class="content">Hello World!</div>
  </li>
</div>


</div>